    * {
    margin: 0;
    padding:0;
    box-sizing: border-box; 
    }   
    html{
    background-color: #fff;
    color: #555555;
    font-family: 'Lato', 'Ariel', sans-serif;
    font-weight: 300;
    font-size: 35px;    
    text-rendering: optimizeLegibility;
    }


    .row{ 
   max-width:  1140px;
   margin: 0 auto;
    }

    header {
    background-image:linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),url(img/background.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
        }

   .hero-text-box{
        position: absolute;
        width: 1140px;
        top: 30%;
        left: 30%;
        transform:translate(-50%, -50%);
  
}
    h1 {
        margin: 0;
        color:#fff;
        font-size: 240%;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1px;
        word-spacing; 4px;
    
    }

    .btn:link,
    .btn:visited {
        display: inline-block;
        padding: 10px 30px;
        font-weight: 300;
        text-decoration: none;
      }



        .btn-full:link,
        .btn-full:visited {
            background-color: #e67e22;
            border:1px solid #e67e22;
            color:#fff;   
             border-radius: 200px;
                            }

        .btn-ghost:link,
        .btn-ghost:visited 
            {
            background-color: #e67e22;
            border:2px solid #a32a2a;
            color: #fff; 
            border-radius: 200px;
            }

        .btn:hover,
        .btn:avtive {
            background-color: cf6d17
            
            }
